@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Flavors&display=swap");

$primary-bright: #fff;
$font-inter: "Inter", sans-serif;
$font-dm-sans: "DM Sans", sans-serif;
$font-flavors: "Flavors", cursive;
$main-color: #022a1f;

body {
  background-color: $primary-bright;
  width: auto;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

nav {
  width: 100%;
  height: 130px;

  .nav {
    width: 90%;
    height: 35px;
    margin: 10px auto;

    .nav-left {
      width: 100%;

      img {
        width: 152px;
        height: 82px;
        margin-left: 10px;
      }
    }
  }

  .nav-right {
    max-width: 100%;
    margin: 0;
    padding: 0;
    height: 45px;
    text-align: center;

    p {
      font-size: 45px;
      font-family: $font-dm-sans;
      color: $main-color;

      span {
        font-family: $font-flavors;
      }
    }
  }
}

.main {
  display: flex;
  width: 90%;
  margin: 5px auto;
  height: fit-content;

  .sample {
    width: 50%;
    height: 500px;
    padding: 15px;
    margin: 0 5px;

    .sample-heading {
      font-size: 30px;
      font-family: $font-dm-sans;
      margin-bottom: 15px;
    }
    .card-list {
      width: 80%;
      height: 500px;
      box-shadow: 1px 1px 10px rgb(0 0 0 / 25%);
      position: relative;
      border-radius: 5px;
      padding: 15px;
      font-size: 16px;
      font-family: "DM Sans", sans-serif;
      overflow: scroll;
    }

    .card-sub-list-item {
      line-height: 30px;
    }

    .sample-time-holder {
      position: relative;
      right: 25px;
      float: right;
    }
  }
  .warning {
    font-size: 17px;
    font-family: $font-dm-sans;
    width: 80%;
    p {
      letter-spacing: 1px;
    }

    span {
      font-weight: bold;
      font-size: 16px;
    }
  }

.textArea {
  position: relative;
  left: 200px;
  height: 368px;
  width: 50%;
  padding: 10px;
  top: 34px;
  float: right;
}

.button {
  float: right;
  position: relative;
  right: 9px;
  top: 500px;
}

input[type="submit"] {
  font-weight: bold;
  height: 70px;
  width: 232px !important;
  transition: all 0.2s ease-in;
  border: none;
  float: right;
  border-radius: 10px;
  margin: 30px 0 0 0;
  color: $main-color;
  position: relative;
  left: -30px;
}

input[type="submit"]:hover {
  transform: scale(1.05);
  background-color: $main-color;
  color: $primary-bright;
}
}