$primary-bright: #fff;

body {
  background-color: $primary-bright;
  width: 100%;
}

.main {
  display: flex;
  width: 90%;
  margin: 15px auto;

  .sample {
    width: 50%;
    height: 230px;
  }
}
