@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

$primary-bright: #fff;
$font-inter: "Inter", sans-serif;
$font-dm-sans: "DM Sans", sans-serif;
$font-flavors: "Flavors", cursive;
$main-color: #022a1f;
$main-padding: 10px;
$danger-color: #fdc6c6;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-dm-sans;
}

.body {
  background-color: #D9D9D9;
}

.container {
    width: inherit;

    .navbar {
        width: 85%;
        height: 90px;
        position: absolute;
        left: 15%;
        display: inline-flex;
        background: #FFFFFF;
        // background-color: red;
        box-shadow: 0px 4px 72px rgba(2, 42, 31, 0.15);

        .nav--container {
            width: 95%;
            margin: auto;
            display: flex;

            .nav--container--input {
                align-items: center;
                flex: 0 0 25%;
                max-width: 25%;

                .search--box {
                    border: 1px solid #CCCCCC;
                    position: absolute;
                    height: 2rem;
                    width: auto;
                    padding: 5px;
                    border-radius: 5px;
                    color: #CCCCCC;
                    margin-top: 25px;

                    input {
                        border: none;
                        color: #CCCCCC;
                        font-size: 16px;
                    }

                    input:focus {
                        outline: none;
                        color: #022A1F;
                    }
                }
            }

            .nav--container--right {
                flex: 0 0 35%;
                max-width: 35%;
                display: flex;
                position: relative;
                right: 0;
                height: 90px;
                left: 32rem;

                .nav--container--right--icons {
                    flex: 0 0 40%;
                    max-width: 40%;
                    position: relative;
                    font-size: 35px;
                    color: #022A1F;
                    margin-top: 22px;

                    .icons {
                        margin-right: 35px;
                    }
                }

                .nav--container--right--persona {
                    flex: 0 0 60%;
                    max-width: 60%;
                    color: #022A1F;
                    display: flex;
                    margin: auto 0;

                    img {
                        height: 55px;
                        width: 55px;
                    }

                    .description {
                        margin: 5px 12px;
                        padding: 0;

                        h3 {
                            margin: 5px 0;
                            padding: 0;
                            font-size: 20px;
                        }

                        p {
                            margin: -5px 0;
                            padding: 0;
                            font-size: 12px;
                        }  
                    }
                    
                    .description--icon {
                        margin: 15px 10px;
                        font-size: 24px;
                    } 
                }
            }
        }
    }

    .sidebar {
        width: 15%;
        height: 100vh;
        background-color: $main-color;
        float: left;
        position: fixed;

        .upper-div {
            margin: 0 auto;
            width: 100%;
            height: 50%;

            //background-color: #eab33c;
            .menu {
                float: left;
                padding: $main-padding;
                color: $primary-bright;
                position: relative;
                left: 36px;
                top: 20px;
            }

            .row {
                height: 60px;
                width: 80%;

                .icon {
                    *[class*="material-symbols-rounded"] {
                        width: calc(5%);
                        height: calc(5%);
                        color: $primary-bright;
                    }
                }
            }

            .timers {
                justify-content: center;
                text-align: center;
                align-items: center;
                display: flex;
                position: relative;
                top: calc($main-padding * 10);

                * {
                  padding: 0 $main-padding;
                }

                .text {
                    text-transform: capitalize;
                    color: $primary-bright;
                    font-family: $font-inter;
                }
            }
        }

        .lower-div {
            margin: 0 auto;
            width: 100%;
            height: 50%;
            //   background-color: #fcc3fd;

            .row {
                height: 60px;
                width: 80%;
                justify-content: center;
                text-align: center;
                align-items: center;
                display: flex;
                position: relative;
                top: calc($main-padding * 6);
            
                * {
                    line-height: 60px;
                }
          
                .icon {
                    *[class*="material-symbols-rounded"] {
                        width: calc(5%);
                        height: calc(5%);
                        color: $primary-bright;
                    }
                }
            }

            * {
                padding: 0 $main-padding;
            }

            .logout {
                .text {
                    color: $danger-color !important;
                }
                .icon {
                    color: $danger-color !important;
                }
            }

            .text {
                text-transform: capitalize;
                color: $primary-bright;
                font-family: $font-inter;
            }
            .FAQ {
                text-transform: uppercase;
            }
        }
    }

    .main {
        width: 85%;
        height: 30rem;
        position: relative;
        padding: 25px 40px;
        top: 100px;
        color: $main-color;
        left: 15%;

        .main--heading {
            font-size: 35px;
            font-weight: bold;
        }

        .main--schedules {
            display: inline-flex;
            
            .main--schedule--item {
                margin-right: 20px;
                margin-top: 10px;
                width: 200px;
                height: 155px;
                border-radius: 10px;
                padding: 15px;
                box-shadow: 0px 0px 175px rgba(0, 0, 0, 0.1);

                .activity {
                    margin: 5px ;
                }
    
                .time {
                    margin: 10px 5px;
                }
    
                .occurrence {
                    margin: 30px 5px 0;
                    color: #D9D9D9;
                }
            }
        }
    }
}

