<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/style/dailySchedule.css ">
    <title>Make a daily schedule</title>
  </head>
  <body>
    <div class="main">
      <div class="sample" id="sample">
        <h3 class="sample-heading">Sample:</h3>
        <div class="card-list">
          <div class="card-sub-list">
            <ol class="card-sub-list-holder">
              <li class="card-sub-list-item">Cleaning the house <span class="sample-time-holder">5:30 AM</span></li>
              <li class="card-sub-list-item">Preparing Breakfast<span class="sample-time-holder">6:30 AM</span></li>
              <li class="card-sub-list-item">Preparing Children<span class="sample-time-holder">7:30 AM</span></li>
              <li class="card-sub-list-item">Taking the to the school bus<span class="sample-time-holder">8:30 AM</span></li>
              <li class="card-sub-list-item">Cooking Lunch<span class="sample-time-holder">9:30 AM</span></li>
              <li class="card-sub-list-item">Taking a nap<span class="sample-time-holder">10:30 AM</span></li>
              <li class="card-sub-list-item">Preparing super<span class="sample-time-holder">17:30 PM</span></li>
            </ol>
          </div>
        </div>

        <div class="warning">
          <p>
            <span>NB:</span>  Make sure you set another schedule
            tomorrow unless you want to follow the
            same schedule.
          </p>
        </div>
      </div>
      <div class="textArea" id="textArea"></div>
    </div>
  </body>
</html>
